@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #2d2d31;
}

.hero {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

.hero .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 2em;
}

.hero .nav-wrapper .logo {
  height: 40px;
}

.hero .nav-wrapper .burger {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.hero .nav-wrapper .burger .bar {
  width: 100%;
  border-radius: 30px;
  display: block;
  height: 5px;
  background-color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.hero .nav-wrapper .burger #bar1 {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hero .nav-wrapper .burger #bar3 {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.hero .nav-wrapper .burger.open .bar {
  background-color: #2d2d31;
}

.hero .nav-wrapper .burger.open #bar1 {
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}

.hero .nav-wrapper .burger.open #bar3 {
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

.hero .nav-wrapper .burger.open #bar2 {
  opacity: 0;
}

.hero .nav-wrapper .mobile-nav-bg {
  width: 0;
  height: 0;
  background: #00d8ff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  border-radius: 50%;
  right: 45px;
  z-index: 4;
}

.hero .nav-wrapper .mobile-nav-bg.open {
  width: 350px;
  height: 350px;
  -webkit-transform: translate(48%, 34%);
          transform: translate(48%, 34%);
}

.hero .nav-wrapper .nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 50px;
  top: 70px;
  z-index: 5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.hero .nav-wrapper .nav .nav-item {
  margin: 1em 0;
  color: #ffffff;
  cursor: pointer;
}

.hero .nav-wrapper .nav.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero-content-wrapper {
  height: 90%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 3;
}

.hero .hero-content-wrapper .logo-bg {
  position: absolute;
  z-index: -1;
  height: 500px;
  top: 20px;
  left: 50px;
  opacity: 0.03;
}

.hero .hero-content-wrapper .name-wrapper {
  margin-top: -10em;
  text-align: center;
}

.hero .hero-content-wrapper .name-wrapper .name {
  font-size: 2.8em;
  margin-bottom: 0.5em;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #84fab0, #00d8ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero .hero-content-wrapper .name-wrapper .title {
  color: #ffffff;
  font-weight: 300;
}

.hero .hero-content-wrapper .social-wrapper {
  display: none;
}

.hero .circle-bg {
  position: absolute;
  top: -50px;
  right: -80px;
  height: 230px;
}

.hero .circle-sm {
  position: absolute;
  bottom: 300px;
  right: 50px;
  height: 40px;
}

.hero .square-sm {
  position: absolute;
  top: 200px;
  left: 170px;
  height: 40px;
}

.hero .dots-left {
  position: absolute;
  left: -40px;
  z-index: -1;
  top: 0;
  height: 200px;
}

.hero .dots-right {
  position: absolute;
  right: -20px;
  bottom: 0;
  height: 200px;
}

.hero .triangle-sm {
  position: absolute;
  top: 450px;
  left: 30px;
  height: 70px;
}

.hero .square-bg {
  position: absolute;
  bottom: -70px;
  left: -130px;
  height: 270px;
}

@media screen and (min-width: 600px) {
  .hero .nav-wrapper {
    padding: 1em 7em;
  }
  .hero .nav-wrapper .burger {
    display: none;
  }
  .hero .nav-wrapper .nav {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    top: 0;
    right: 0;
  }
  .hero .nav-wrapper .mobile-nav-bg {
    display: none;
  }
  .hero .hero-content-wrapper {
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .hero-content-wrapper .social-wrapper {
    padding: 0 2em 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -10em;
  }
  .hero .hero-content-wrapper .social-wrapper .social-icon {
    height: 40px;
    margin: 1em 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
  }
  .hero .hero-content-wrapper .logo-bg {
    height: 700px;
    left: 200px;
  }
  .hero .hero-content-wrapper .name-wrapper {
    margin-top: -10em;
    margin-left: 10em;
    text-align: left;
  }
  .hero .hero-content-wrapper .name-wrapper .name {
    font-size: 5em;
    margin-bottom: 0.5em;
  }
  .hero .hero-content-wrapper .name-wrapper .title {
    color: #ffffff;
    font-weight: 300;
  }
  .hero .square-bg {
    bottom: -240px;
    left: -30px;
    height: 400px;
  }
  .hero .circle-bg {
    top: -150px;
    right: -150px;
    height: 400px;
  }
  .hero .dots-left {
    left: -10px;
    z-index: -1;
    top: -30px;
    height: 300px;
  }
  .hero .dots-right {
    right: -10px;
    bottom: 0;
    height: 300px;
  }
  .hero .triangle-sm {
    top: 650px;
    left: 500px;
    height: 70px;
  }
  .hero .circle-sm {
    bottom: 400px;
    right: 250px;
    height: 40px;
  }
  .hero .square-sm {
    left: 570px;
  }
}

@media screen and (min-width: 1400px) {
  .hero .nav-wrapper {
    padding: 1em 7em 1em 10em;
  }
  .hero .hero-content-wrapper .name-wrapper {
    margin-left: 20em;
  }
  .hero .hero-content-wrapper .logo-bg {
    left: 800px;
  }
}
/*# sourceMappingURL=main.css.map */