@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #2d2d31;
}

.wrapper {
  overflow-x: hidden;
}

.hero {
  position: relative;
  height: 100vh;
}

.hero .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 2em;
}

.hero .nav-wrapper .logo {
  height: 40px;
}

.hero .nav-wrapper .burger {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.hero .nav-wrapper .burger .bar {
  width: 100%;
  border-radius: 30px;
  display: block;
  height: 5px;
  background-color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.hero .nav-wrapper .burger #bar1 {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hero .nav-wrapper .burger #bar3 {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.hero .nav-wrapper .burger.open #bar1 {
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}

.hero .nav-wrapper .burger.open #bar3 {
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

.hero .nav-wrapper .burger.open #bar2 {
  opacity: 0;
}

.hero .nav-wrapper .mobile-nav-bg {
  width: 0;
  height: 0;
  background: #00d8ffc4;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  border-radius: 50%;
  right: 45px;
  z-index: 4;
}

.hero .nav-wrapper .mobile-nav-bg.open {
  width: 350px;
  height: 350px;
  -webkit-transform: translate(42%, 12%);
          transform: translate(42%, 12%);
}

.hero .nav-wrapper .nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 85px;
  top: 25px;
  z-index: 5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.hero .nav-wrapper .nav .nav-item {
  margin: 0.9em 0;
  color: #ffffff;
  cursor: pointer;
}

.hero .nav-wrapper .nav.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero-content-wrapper {
  height: 90%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 3;
}

.hero .hero-content-wrapper .logo-bg {
  position: absolute;
  z-index: -1;
  height: 500px;
  top: 20px;
  left: 50px;
  opacity: 0.03;
}

.hero .hero-content-wrapper .name-wrapper {
  margin-top: -10em;
  text-align: center;
  letter-spacing: 2px;
}

.hero .hero-content-wrapper .name-wrapper .name {
  font-size: 2.8em;
  margin-bottom: 0.5em;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #84fab0, #00d8ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero .hero-content-wrapper .name-wrapper .title {
  color: #ffffff;
  font-weight: 300;
}

.hero .hero-content-wrapper .social-wrapper {
  display: none;
}

.hero .circle-bg {
  position: absolute;
  top: -83px;
  right: -96px;
  height: 230px;
}

.hero .circle-sm {
  position: absolute;
  bottom: 300px;
  right: 50px;
  height: 40px;
}

.hero .square-sm {
  position: absolute;
  top: 200px;
  left: 170px;
  height: 40px;
}

.hero .dots-left {
  position: absolute;
  left: -40px;
  z-index: -1;
  top: 0;
  height: 200px;
}

.hero .dots-right {
  position: absolute;
  right: -20px;
  bottom: 0;
  height: 200px;
}

.hero .triangle-sm {
  position: absolute;
  top: 450px;
  left: 30px;
  height: 70px;
}

.hero .square-bg {
  position: absolute;
  bottom: -100px;
  left: -130px;
  height: 270px;
}

@media screen and (min-width: 600px) {
  .hero .nav-wrapper {
    padding: 1em 7em;
  }
  .hero .nav-wrapper .burger {
    display: none;
  }
  .hero .nav-wrapper .nav {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    top: 0;
    right: 0;
  }
  .hero .nav-wrapper .mobile-nav-bg {
    display: none;
  }
  .hero .hero-content-wrapper {
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .hero-content-wrapper .social-wrapper {
    padding: 0 2em 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -10em;
  }
  .hero .hero-content-wrapper .social-wrapper .social-icon {
    height: 40px;
    margin: 1em 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
  }
  .hero .hero-content-wrapper .logo-bg {
    height: 700px;
    left: 200px;
  }
  .hero .hero-content-wrapper .name-wrapper {
    margin-top: -10em;
    margin-left: 10em;
    text-align: left;
    letter-spacing: 10px;
  }
  .hero .hero-content-wrapper .name-wrapper .name {
    font-size: 5em;
    margin-bottom: 0.2em;
  }
  .hero .hero-content-wrapper .name-wrapper .title {
    color: #ffffff;
    font-weight: 300;
  }
  .hero .square-bg {
    bottom: -240px;
    left: -100px;
    height: 400px;
  }
  .hero .circle-bg {
    top: -167px;
    right: -185px;
    height: 400px;
  }
  .hero .dots-left {
    left: -10px;
    z-index: -1;
    top: -30px;
    height: 300px;
  }
  .hero .dots-right {
    right: -10px;
    bottom: 0;
    height: 300px;
    -webkit-filter: invert(92%) sepia(9%) saturate(1373%) hue-rotate(48deg) brightness(100%) contrast(96%);
            filter: invert(92%) sepia(9%) saturate(1373%) hue-rotate(48deg) brightness(100%) contrast(96%);
  }
  .hero .triangle-sm {
    top: 650px;
    left: 500px;
    height: 70px;
  }
  .hero .circle-sm {
    bottom: 400px;
    right: 250px;
    height: 40px;
  }
  .hero .square-sm {
    left: 570px;
  }
}

@media screen and (min-width: 1400px) {
  .hero .nav-wrapper {
    padding: 1em 7em 1em 10em;
  }
  .hero .hero-content-wrapper .name-wrapper {
    margin-left: 20em;
  }
  .hero .hero-content-wrapper .logo-bg {
    left: 800px;
  }
}

.section-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 10em;
}

.section-heading h1 {
  font-size: 6em;
  opacity: 0.3;
  color: rgba(255, 255, 255, 0.2);
}

.section-heading h6 {
  font-size: 2em;
  font-weight: 300;
  color: #84fab0;
}

.section-spacing {
  min-height: 500px;
  margin: 300px 0px;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 600px) {
  .section-spacing {
    font-size: 20px;
  }
}

@media screen and (min-width: 1080px) {
  .section-spacing {
    margin: 375px 0px;
  }
}

.section-content {
  padding: 30px;
  background: linear-gradient(255.29deg, rgba(64, 64, 68, 0.8) 3.51%, rgba(64, 64, 68, 0.8) 3.52%, rgba(64, 64, 68, 0.76) 104.9%);
  border: 2px solid #404044;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (min-width: 1080px) {
  .section-content {
    width: 73% !important;
  }
}

@media screen and (min-width: 1440px) {
  .section-content {
    width: 60% !important;
  }
}

.about .about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  justify-items: center;
  grid-auto-flow: dense;
  gap: 50px;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-content :first-child {
  -ms-grid-row: 2;
  grid-row: 2;
}

.about .about-content .text {
  line-height: 40px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.about .about-content .circle {
  height: 250px;
}

@media screen and (min-width: 600px) {
  .about .circle {
    height: 300px !important;
  }
}

@media screen and (min-width: 1080px) {
  .about .about-content {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 0px;
        grid-template-rows: 0px;
    grid-row-gap: 0px;
  }
  .about .about-content .circle {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .about .about-content .text {
    text-align: left;
  }
}

.skills {
  position: relative;
  z-index: 20;
}

.skills .skills-dots {
  position: absolute;
  z-index: -4;
  height: 350px;
}

.skills .skills-dots:nth-child(1) {
  top: -20px;
  right: -102px;
  -webkit-filter: invert(92%) sepia(9%) saturate(1373%) hue-rotate(48deg) brightness(100%) contrast(96%);
          filter: invert(92%) sepia(9%) saturate(1373%) hue-rotate(48deg) brightness(100%) contrast(96%);
}

.skills .skills-dots:nth-child(2) {
  bottom: -200px;
  left: -102px;
  -webkit-filter: invert(92%) sepia(9%) saturate(1411%) hue-rotate(79deg) brightness(100%) contrast(96%);
          filter: invert(92%) sepia(9%) saturate(1411%) hue-rotate(79deg) brightness(100%) contrast(96%);
}

.skills .skills-title {
  color: #bb86fc;
}

.skills .skills-content {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-items: center;
  gap: 11px;
}

.skills .skill-card {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  color: #fff;
  margin-bottom: 40px;
}

.skills .skill-card .skill-card-icon-container {
  text-align: center;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2d2d31;
  background: linear-gradient(230.32deg, rgba(255, 255, 255, 0.245) 7.47%, rgba(255, 255, 255, 0.07) 110.81%);
}

.skills .skill-card .skill-card-icon-container img {
  width: 80%;
}

.skills .skill-card .skill-card-icon-container .figma-img {
  width: 55%;
}

.skills .skill-card .skill-card-icon-container .smaller-img {
  width: 70%;
}

@media screen and (min-width: 1080px) {
  .skills .skills-content {
    -ms-grid-columns: (minmax(137px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
  }
  .skills .skills-dots:nth-child(1) {
    top: -20px;
    right: 30px;
  }
  .skills .skills-dots:nth-child(2) {
    bottom: -200px;
    left: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .skills .skills-content {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .skills .skills-dots {
    height: 400px;
  }
  .skills .skills-dots:nth-child(1) {
    top: -20px;
    right: 280px;
  }
  .skills .skills-dots:nth-child(2) {
    bottom: -200px;
    left: 280px;
  }
}
/*# sourceMappingURL=main.css.map */